body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;

    overflow: hidden;
}

.big-circle {
    margin: 150px auto;

    width: 500px;
    height: 500px;

    background: darkturquoise;
    border-radius: 50%;

    position: absolute;
}

.small-circle {
    box-sizing: border-box;
    position: absolute;
    top: 200px;

    width: 50px;
    height: 50px;

    background: deeppink;
    border-radius: 50%;


    transform: translate(-50%, -50%);
}

.switch {
    margin-top: 50px;

    display: flex;
    align-items: center;
    width: 500px;
    height: 30px;
    border-radius: 10px;

    background: lightcyan;
}

.switch-left {
    margin-left: 2px;
    margin-right: 18px;
    width: 240px;
    height: 25px;
    background: deeppink;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    cursor: pointer;
}

.switch-right {
    margin-right: 2px;
    width: 240px;
    height: 25px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}